<div>
    <div>
        <label for="title">Titre :</label>
        <input type="text" name="title" id="title">
    </div>
    <div>
        <label for="artist">Artiste principal :</label>
        <input type="text" name="artist" id="artist">
    </div>
    <div>
        <label for="releaseYear">Année de sortie :</label>
        <input type="number" name="releaseYear" id="releaseYear">
    </div>
    <div>
        <label for="rate">Note :</label>
        <input type="number" name="rate" id="rate" min="1" max="5" step="1">
    </div>
    <div>
        <button>Valider</button>
        <button>Annuler</button>
    </div>
</div>