<h1>Titre du formulaire</h1>
<hr>
<form>
    <div>
        <label for="name">Nom du produit :</label>
        <input type="text" name="name" id="name" #name>
    </div>
    <div>
        <label for="description">Nom du produit :</label>
        <textarea type="text" name="description" id="description" #description></textarea>
    </div>
    <div>
        <label for="price">Nom du produit :</label>
        <input type="number" min="0" step="0.01" name="price" id="price" #price>
    </div>
    <div>
        <label for="stock">Nom du produit :</label>
        <input type="number" min="0" step="1" name="stock" id="stock" #stock>
    </div>
</form>